body{ 
    background-color: rgb(255, 197, 197); 
    font-family: Sofia;
    background-image: url(fen.jpg);
    background-repeat: space repeat;
}



.container-fluid{
    background-color: rgb(176, 97, 97);
    padding: 0.5%;
}

.nav-link{
    color: rgb(255, 235, 216);
}

.nav-item:hover{
    background-color: rgb(255, 235, 216);
}

.active{
    color: rgb(85, 28, 44);
}

main.container{ 
    background-color:rgb(255, 197, 197); 
    box-shadow: 0px 0px 12px rgb(173, 90, 90); 
    border:1px solid rgb(103, 99, 99); 
    margin-top: 0.75%; 
    margin-bottom: 2.75%;
}

.container-fluid{
    justify-content: center;
}

h1{
    color: rgb(49, 95, 46);
}

.btn{
    /* margin-top: 1%;
    margin-bottom: 1%; */
    border-style: outset;
    border-color: transparent;
    color: rgb(255, 235, 216);
    background-color: rgb(176, 97, 97)
}

.btn:hover {
    background-color: rgb(124, 147, 195);
    color:rgb(238, 245, 255);
    border-style: inset;
}

.table{
    text-align: center;
    
}

.table thead tr th{
    border-bottom: 10%;
    background-color: transparent;
    
    border-color: rgb(181, 201, 154);
}

.table thead tr th{
    border-bottom: 10%;
    background-color: transparent;
    
    border-color: rgb(181, 201, 154);
}

.table tbody tr td{
    border-bottom: 10%;
    background-color: rgb(235, 243, 232);
    border-color: rgb(181, 201, 154);
}

.table tbody tr td:last-child{
    background-color: transparent;
    border-color: transparent;
    width: 12.5%;
}

#m{
    background-color: transparent;
    border-color: transparent;
    width: 12.5%;
}

.error{
    border-color: rgb(220, 40, 40);
}

.success{
    border-color: rgb(29, 239, 169);
}

.pocetna{
    background-image: url("fen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.svi{
    display: flex;
}

.right{
    margin-left: auto;
}

.left{
    margin-right: auto;
}

.rounded-pill{
    width: 40px;
}

h2{
   color: rgb(122, 157, 84); 
}